# Android Studio / IntelliJ
*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# User-specific / Sensitive
local.properties
*.jks
*.keystore
google-services.json

# Built files
/app/build/
*.apk
*.aar
